*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    width: 100%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}
.headerContent{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 100;
    background-color: #283739;
    top: 0;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    
    /*color: #055e68;*/

}


.navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: large;
    font-weight: bold;

}

.navbar a:hover{
    /*color:  #2c5d63;*/
    color: black;
    background-color: #a2c11c;
}

.navbar button a{
    color: black;
}


.sidebar{
    width: fit-content;
    background-color: #2c5d63;
    color: white;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.sidebarContent a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition: background 0.3s;
}

.sidebarContent a:hover{
    
    color: black;
    background-color: #a2c11c;
}
.logo_area{
    display: flex;
    align-items: center;
   
}

.mainContent, footer{
    margin-left: 260px;
}


section{
    padding: 20px;
    background-color: #e0e0e0;
    
}

#about{
    width: 100%;
}

#about h1{
    font-size: 2rem;
    
}
#about p{
    font-size: 2rem;
    line-height: 1.5;
   
}


.containerHome{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.homeElements{
    width: 100%;
    margin: 10px 0;
   
}

.homeElements img{
    width: 100%;
    height: auto;
}
.homeElements p{
    font-size: 4rem;
    align-items: center;
}



.icon{
    display: none;
    color: black;
    cursor: pointer;
    
}

.navbar.active{
    display: flex;
}

.navbar button{
    padding: 10px;
}

footer{
    background-color: #283739;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.footerItem{
    font-size: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.socialMediaIcons{
    color: #a2c11c;
}

.socialMediaIcons :hover{
    color: white;
}

.socialMediaIcons :active{
    color: #ebfbee;
}

/*Media queries*/
@media (max-width: 768px){
    .navbar{
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #2c5d63;
        width: 25%;

    }
    .navbar.active{
        display: flex;
    }

    .navbar a{
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .icon{
        display: block;
    }

    .headerContent{
        flex-direction: column;
        align-items: flex-start;
    }

    .homeElements p{
        font-size: 2rem;
    }

    .mainContent{
        order: 1;
        margin-left: 0;
    }
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        /*transform: translateY(0);*/
        top: auto;
        left: auto;
        order: 2;
    }
    .sidebarContent a {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
    
    
    #about h1{
        font-size: 2rem;

    }

    #about p{
        font-size: 1 rem;
    }

    footer{
        width: 100%;
        margin-left: 0;
    }

}

@media (max-width: 480px){
    .logo_area h1{
        font-size: 18px;
    }

    .navbar a{
        font-size: medium;
    }

    .homeElements p{
        font-size: 1.5rem;

    }

    #about h1{
        font-size: 1.5rem;
    }

    #about p{
        font-size: 1.5rem;
    }

    .mainContent{
        order: 1;
        margin-left: 0;
    }
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        transform: translateY(0);
        top: auto;
        left: auto;
        order: 2;
    }
    .sidebarContent a {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    footer{
        width: 100%;
        margin-left: 0;
    }
    
}